{% extends "header.html" %}
{% block content %}
<h2>Lista Usuarios</h2>
<div class="col-sm-12 col-md-4">
  {% for user in users.all %}
  <ul>
    <li>Nombre: {{ user.nombre}}</li>
    <li>Apellido: {{ user.apellido }}</li>
    <li>Email: {{user.email}}</li>
    <li>Edad: {{user.edad}}</li>
    <li>Tel&eacute;fono: {{user.telefono}}</li>
    <div><a href="{% url 'edit' user.id %}">Editar</a></div>
  </ul>

  {% endfor %}
  <a class="btn btn-primary" href="{% url 'create' %}">Crear Usuario</a>
</div>
{% endblock %}
